* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #bdc3c7;
}

#header {
    text-align: center;
    font-family: 'Amaranth';
    padding: 2.5% 0;
    background: #ecf0f1;
}

#header span {
    border: 2px solid black;
    padding: 0.5%;
}

#container {
    width: 100%;
}

.color-box {
    float: left;
    height: 200px;
    width: 30%;
    border: 2px solid black;
    margin: 1.66%;
    
    transition-duration:0.3s; 
	transition-property:transform; 
	transition-timing-function:ease-out;
}

.color-box:hover {
    transform: translateY(-5%);
}